.layout{min-width:950px;margin:auto}
.col-main{float:left;width:100%;min-height:1px}
.col-right{margin-left:200px;min-width:750px;}
.mainright{float:left;width:100%;min-height:1%}
.maincontainer{float:left;min-height:1px;width:100%}
.maincontent{margin-right:200px;min-width:550px}
.topfilter{border:1px solid #ddd}
.search-result{padding:5px 0 5px 10px}
.search-result b{font-size:18px;color:#f88000}
.search-result h2{display:inline;font-weight:700;font-size:12px}

.col-left{float:left;width:190px;margin-left:-100%;_margin-left:-990px;bbackground:#000}
.col-left h3{padding:7px 0 7px 10px;line-height:17px;background:#e3e3e3;border:1px solid #c7c7c7;font-size:14px;font-weight:700}
.left-box{padding:5px 10px;border:1px solid #ddd;border-top:0}
.col-left dl{border:1px solid #ddd;border-top:0}
.col-left dt{padding-left:10px;font-size:12px;/*line-height:24px;font-size:13px;font-weight:700;background:#f1f1f1*/}
.col-left dd{padding:5px 10px}

.bookmark{padding:10px;border-top:solid 1px #ddd}
.bookmark h3.title{margin-bottom:5px;font-size:16px;color:#666;font-weight:700;color:#666}
.bookmark ul li{display:inline;float:left;margin-right:10px;padding:3px 0 3px 21px;white-space:nowrap;background:url(../images/search2.png) no-repeat}
.bookmark ul li a{color:#666}
.bookmark ul li a:hover{color:#ff8000}
.bookmark .li1{background-position:0 -840px}
.bookmark .li3{background-position:0 -888px}
.bookmark .li6{background-position:0 -960px}
.bookmark .li9{background-position:0 -1032px}
.bookmark .li12{background-position:0 -1101px}
.bookmark .li13{background-position:0 -865px}
.bookmark .goog{background:0;padding:0}

.ctab-warp{margin:0 auto;_width:750px;min-width:750px;color:#666;*zoom:1;}
.ctab{height:31px;margin-bottom:10px;border-bottom:solid 1px #ddd;}
.ctab ul{margin-left:10px;}
.ctab ul li{position:relative;float:left;margin-right:5px;border-right:1px solid #e1e1e1;}
.ctab ul li span{float:left;padding:0 10px;height:30px;line-height:30px;font-size:14px;font-weight:700;color:#333;background:url(../images/final11.png) repeat-x 0 -1486px;cursor:pointer;border:1px solid #bbb;border-bottom:0;}
.ctab ul li span:hover{background:url(../images/final11.png) repeat-x 0 -1450px;color:#ff8000;}
.ctab ul li.current{margin-bottom:-1px;}
.ctab ul li.current span{display:block;height:31px;background:#fff;cursor:default;}
.ctab ul li.current span:hover{color:#333;}
.item-specifics,.description{margin:0 10px;padding:10px;border-bottom:solid 1px #ddd;}
.item-specifics h3.title,.description h3.title{margin-bottom:5px;font-size:16px;color:#666;font-weight:700;color:#666;}
.item-specifics ul li,.description ul li{padding:3px 0 3px 20px;color:#333;}
.item-specifics ul li strong,.description ul li strong{margin-right:8px;}
.description h2.shortdes{display:inline;font-size:12px;font-weight:100;}
/* item specifics & description end */
/* detailed description start */
.detailed-description{overflow:hidden;padding:15px 0;_width:750px;min-width:750px;}
.product_tit {margin-bottom: 5px;padding: 0 10px;}
#product_data{float:left; padding-left:5px; width:490px;margin-bottom:15px;padding-top:20px;}
#product_data table,#item-specifics table, .table{width:100%; border:1px solid #DDD; background:#F9F9F9;}
#product_data th, #product_data td, .table th, .table td{padding:5px; border:1px solid #DDD;}
#product_data th, .table th, .table .th{width:140px; font-weight:bold; text-align:right;}

#zoom1{position:relative; display:block; width:212px; height:211px; line-height:211px; text-align:center; overflow:hidden;}
#zoom1 img{z-index:1; vertical-align:middle; }
#zoom1 .pic_layer{width:212px; height:211px; z-index:2; display:block; position:absolute; left:0; top:0; background:url(../images/background4.gif) no-repeat 0 -37px;}

#product_pic{float:right; margin:-8px 10px 15px 0; display:inline; width:210px;padding-top:20px;}
#product_pic p{margin-top:7px; line-height:1.2; text-align:center; font-size:11px;}
#product_pic p span, #product_pic p span.btn_already_add{color:#497202; display:block; margin:0 auto;}
#product_pic p a:hover{text-decoration:none;}
#product_pic span{/*cursor:pointer;*/}

.cloud-zoom-lens {
	border: 4px solid #fff;
	margin:-4px;	/* Set this to minus the border thickness. */
	background-color:#fff;
	cursor:move;
}

/* This is for the title text. */
.cloud-zoom-title {font-family:Arial, Helvetica, sans-serif;position:absolute !important;background-color:#000;
	color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px;
}
/* This is the zoom window. */
.cloud-zoom-big {border:2px solid #444;overflow:hidden;}

/* This is the loading message. */
.cloud-zoom-loading {color:white;background:#fff;padding:3px;border:1px solid #000;}

/*ads*/
.ad_top{margin-bottom:10px; padding:5px 15px 15px; border:1px dotted #CCC;}
.ad_top .google_title a{text-decoration:none;}
.ad_top .google_adtitle{display:block; margin:0 0 5px 0; font-size:18px; color:blue; text-decoration:none;}