#regFlowEN{display:inline;float:left;width:725px;}

#regLeads{float:right;display:inline;width:220px;margin:20px 0 0 0;padding:0 0 0 15px;background:url('../images/free_website_split.gif') no-repeat left top;}
.benefitsWrap{background:#f6f9fd;padding:10px 0 30px 0;border:solid 1px #c4d3e5;}
#regLeads h4{margin:0;padding:0 10px;line-height:24px;font-size:17px;font-weight:bold;font-family:Arial;color:#000000;}
#regLeads em{margin:0 0 0 5px;font-size:20px;color:#6da311;font-weight:bold;}
#regLeads dl{margin:0;padding:5px 5px 20px 5px;}
#regLeads dl dd,#regLeads dl dt{display:block;margin:0;padding:0;font-family:'Tahoma';color:#000000;}
#regLeads dl dt{padding:0 0 10px 0;font-size:13px;}
#regLeads dl dd{padding:15px 0 10px 20px;height:15px;line-height:15px;font-size:12px;background:url('../images/w_icon12.gif') no-repeat 0 12px;}
#regLeads dl dd strong{color:#ff5800;}