.layout{min-width:950px;margin:auto}
.col-main{float:left;width:100%;min-height:1px}
.col-right{margin-left:200px;min-width:750px;}
.mainright{float:left;width:100%;min-height:1%}
.maincontainer{float:left;min-height:1px;width:100%}
.maincontent{margin-right:200px;min-width:550px}
.topfilter{border:1px solid #ddd}
.search-result{padding:5px 0 5px 10px}
.search-result b{font-size:18px;color:#f88000}
.search-result h2{display:inline;font-weight:700;font-size:12px}

.toprecommend{background:#fffff7}
.toprecommend-title{font-weight:bold;padding:5px 0}
.toprecommend-title .adlink{margin-left:10px;font-weight:100;text-decoration:underline}
.toprecommend-con{height:108px;text-align:center;border-bottom:1px solid #ddd;padding-bottom:10px}
.toprecommend-box{display:inline-block;*display:inline;*zoom:1;height:108px;width:32%;text-align:left;overflow:hidden;font-size:11px}
.toprecommend-box .photo{float:left;margin-right:10px}
.toprecommend-box h4{height:52px;line-height:13px;overflow:hidden}
.toprecommend-box p{margin-left:112px}
.toprecommend-box .price{font-size:12px}
.toprecommend-box .sotre{height:13px;line-height:13px;overflow:hidden}

.probox:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.probox{position:relative;padding:15px 0 15px 5px;border-bottom:1px solid #ddd;*zoom:1}
.prolist-info{margin:0 10px 0 112px}
.prolist-info h4{max-height:32px;overflow:hidden;margin-bottom:10px;font:700 13px/16px Arial;word-wrap:break-word}
.prolist-info p{font:12px Arial;max-height:30px;overflow:hidden}
.prolist-info em{display:block;}

.sunico{display:inline-block;background:url(../images/search2.png) no-repeat 80px -510px;padding:0 18px 0 0;font-family:'宋体';font-size:11px;text-decoration:underline}
.photo{display:table;*display:block;table-layout:fixed;width:100px;height:100px;border:1px solid #ddd;vertical-align:middle}
.photo a{display:table-cell;*display:inline-block;width:100px;height:100px;vertical-align:middle;*font-size:87px;*font-family:Arial;text-align:center;overflow:hidden}
.photo img{max-height:100px;max-width:100px;vertical-align:middle}
.prolist .photo{float:left;top:10px}
.sale-ico,.off-ico{display:block;position:absolute;left:1px;top:7px;width:77px;height:35px;background:url(../images/offsale.png) no-repeat 0 0;_background-image:url(../images/offsale.png)}
.off-ico{background-position:0 -94px;width:59px;height:37px;top:-8px;padding:9px 0 0 21px;font-size:26px;font-weight:700;color:#fff}
.probox .off-ico{top:-13px}

.perpage{line-height:30px;border-bottom:1px solid #ddd;padding-right:5px;font-size:11px;text-align:right}
.page{height:25px;padding:10px;text-align:center;color:#999}
.page span{margin-right:6px;line-height:20px}
.page a,.page b{margin-left:5px;padding:4px 9px}
.page a{border:solid 1px #ddd;text-decoration:none;background:#fff}
.page a:hover{border-color:#549bdd}
.page b{color:#fff;border:solid 1px #999;background:#999}
.page a em{font-style:normal;font-family:Verdana}

.col-left{float:left;width:190px;margin-left:-100%;_margin-left:-990px;bbackground:#000}
.col-left h3{padding:7px 0 7px 10px;line-height:17px;background:#e3e3e3;border:1px solid #c7c7c7;font-size:14px;font-weight:700}
.left-box{padding:5px 10px;border:1px solid #ddd;border-top:0}
.col-left dl{border:1px solid #ddd;border-top:0}
.col-left dt{padding-left:10px;/*line-height:24px;font-size:13px;font-weight:700;background:#f1f1f1*/}
.col-left dd{padding:5px 10px}

.bookmark{padding:10px;border-top:solid 1px #ddd}
.bookmark h3.title{margin-bottom:5px;font-size:16px;color:#666;font-weight:700;color:#666}
.bookmark ul li{display:inline;float:left;margin-right:10px;padding:3px 0 3px 21px;white-space:nowrap;background:url(../images/search2.png) no-repeat}
.bookmark ul li a{color:#666}
.bookmark ul li a:hover{color:#ff8000}
.bookmark .li1{background-position:0 -840px}
.bookmark .li3{background-position:0 -888px}
.bookmark .li6{background-position:0 -960px}
.bookmark .li9{background-position:0 -1032px}
.bookmark .li12{background-position:0 -1101px}
.bookmark .li13{background-position:0 -865px}
.bookmark .goog{background:0;padding:0}

.sellerinfo{font:12px/1.5 Verdana;padding-top:2px;}
.sellerinfo a{margin-right:10px;}
.factoryico,.factory_icon{display:inline-block;width:15px;height:12px;background:url(../images/h-bg1.png) no-repeat -0px -418px;margin-right:0px;}
.mailico{display:inline-block;padding-left:20px;background:url(../images/search2.png) no-repeat 0 -448px;}

/*ads*/
.ad_top{margin-bottom:10px; padding:5px 15px 15px; border:1px dotted #CCC;}
.ad_top .google_title a{text-decoration:none;}
.ad_top .google_adtitle{display:block; margin:0 0 5px 0; font-size:18px; color:blue; text-decoration:none;}

.merchant-t, .merchant-p {
display: block;
background: url(../images/sbg2.png) no-repeat 0 -1220px;
padding: 2px 0 3px 25px;
font: 9px/10px Verdana;
color: #999;
word-wrap: normal;
white-space: nowrap;
height:23px;
}
.merchant-t span, .merchant-p span {
display: block;
font-size: 10px;
color: #f4a72d;
}
.merchant-t, .merchant-p {
font: 9px/10px Verdana;
color: #999;
white-space: nowrap;
}

.pro-sold{font-size:12px; color:#999; margin-bottom:2px;line-height:18px;}
.pro-sold span{display:inline-block;}
.pro-sold .rating{margin:0 5px 0 0; vertical-align:middle;}
.pro-sold b,.pro-sold .num{display:inline;color:#666; font-weight:100;}
